@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:wght@200;300&display=swap');


body {
    background: -webkit-linear-gradient(left, #6fe7ff, #318cd6);
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

label {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    width: 328px;
    height: 350px;
    padding: 20px;
    border-radius: 6%;
    box-shadow: 1px 2px 8px rgba(116, 116, 116, 0.808);
}

#container h1 {
    text-align: center;
    font-weight: 500;
}

#address,
#password,
#login {
    margin-top: 0;
}

input[type=text] {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 14px;
    padding: 5px 5px;
    margin: 8px 0;
}

input[type=password] {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 14px;
    padding: 5px 5px;
    margin: 8px 0;
}

.form-border {
    background: -webkit-linear-gradient(right, #6fe7ff, #318cd6);
    height: 1px;
    width: 100%;
}

input[type=submit] {
    width: 50%;
    margin-top: 8px;
    background: -webkit-linear-gradient(left, #6fe7ff, #318cd6);
    color: white;
    padding: 10px;
    border: transparent;
    border-radius: 20px;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=submit]:hover {
    box-shadow: #6fe7ff 1px 2px 8px;
}

.form-border {
    margin-bottom: 10px;
}

@media (max-width: 575.98px) {
    #container {
        width: 80%;
    }
}